.kt-product-color__wrapper {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
	cursor: pointer;
	background-color: brown;
}

.kt-product-color__active {
	content: '&#10003;';
    text-align: center;
    color: white;
    font-weight: 600;
}

.kt-product-color__red {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
	cursor: pointer;
	background-color: red;
}

.kt-product-color__green {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
	cursor: pointer;
	background-color: green;
}

.kt-product-color__blue {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
	cursor: pointer;
	background-color: blue;
}

.kt-product-color__chartreuse {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
	cursor: pointer;
	background-color: chartreuse;
}
