
<div class="cap_div">
	<p class="detail_cap_let">
		WE DO WHAT'S HOLDING YOU BACK
	</p>
</div>

<div class="cap_div">
	<p class="main_cap_let">SLAITE</p>
</div>

<div class="cap_div">
	<p class="sub_cap_let">POD - CDN</p>
</div>

<div class="cap_div">
	<p class="detail_cap_let">
		Drop ship Canadian customized products. Your brand, our services.
	</p>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-8 mx-auto">
		<kt-portlet>
			<kt-portlet-body class="cap_div main_board_pan">
				<p class="lb_cap_let">Announcement !</p>
				<p class="lb_def_let">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

<div class="cap_div" style="margin-top: 30px;">
	<p class="sub1_cap_let">Start Your Business</p>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-8 mx-auto">
		<kt-portlet>
			<kt-portlet-body class="cap_div">
				<div class="row">
					<div class="col-md-5 check-group-box">
						<div class="d-flex">
							<mat-icon>
								check_circle_outline
							</mat-icon>
							<span>
								Design Your Product
							</span>
						</div>
						<div class="d-flex">
							<mat-icon>
								check_circle_outline
							</mat-icon>
							<span>
								Add Your Billing Info
							</span>
						</div>
						<div class="d-flex">
							<mat-icon>
								check_circle_outline
							</mat-icon>
							<span>
								Connect Your Store
							</span>
						</div>
						<div class="d-flex">
							<mat-icon>
								check_circle_outline
							</mat-icon>
							<span>
								Publish Your Product
							</span>
						</div>
					</div>
					<div class="col-md-7 upload-panel-box">
						<p class="upload-panel-content">
							Upload your artwork and choose from our wide
							selection of apparel to begin creating your
							products.
						</p>
						<div class="upload-panel-board"></div>
						<button
							mat-raised-button
							color="primary"
							class="design_button"
						>
							Design Product
						</button>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-8 mx-auto">
		<p class="sub1_cap_let" style="margin-top: 10px;">
			Sales Performance Dashboard
		</p>
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-6 ">
				<kt-portlet>
					<kt-portlet-body class="sales_dash">
						<div class="sales_dash_item">
							<p>Orders</p>
							<p class="d-flex justify-content-center align-items-center h-100">N/A</p>
						</div>
						<div class="sales_dash_item">
							<p>Recent Orders</p>
							<p class="d-flex justify-content-center align-items-center h-100">N/A</p>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6 sales_dash">
				<kt-portlet>
					<kt-portlet-body class="sales_dash">
						<div class="sales_dash_item">
							<p>Collection Performance</p>
							<p class="d-flex justify-content-center align-items-center h-100">N/A</p>
						</div>
						<div class="sales_dash_item">
							<p>Top 5 Best Sellers</p>
							<p class="d-flex justify-content-center align-items-center h-100">N/A</p>
						</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
		</div>
	</div>
</div>
