<div class="kt-product-details-right__wrapper">
	<kt-slaite-label [param]='{text: "Short Sleeve T-Shirts", size: "content", color: "gray"}' ></kt-slaite-label>
	<kt-slaite-label [param]='{text: "Fruit Of The Loom Heavy Cotton T-Shirt", size: "para", color: "primary"}' ></kt-slaite-label>
	<kt-slaite-label [param]='{text: "3930R", size: "content", color: "gray"}' ></kt-slaite-label>

	<kt-slaite-label class="kt-slaite-margin-top__8" [param]='{text: "From $10.95", size: "content", color: "red"}' ></kt-slaite-label>
	<kt-slaite-label class="kt-slaite-margin-top__8" [param]='{text: "This customer favourite custom printed t-shirt is a durable and economical choice for any special event. Made with 100% cotton, this personalized t-shirt offers superior comfort and features a casual fit.", size: "content"}' ></kt-slaite-label>

	<kt-slaite-label class="kt-slaite-margin-top__16" [param]='{text: "Available Colours:", size: "content", color: "gray"}' ></kt-slaite-label>
	<div class="kt-slaite-product-details__color--wrapper">
		<kt-product-color *ngFor='let item of colors' [color]='item'></kt-product-color>
	</div>

	<kt-slaite-label class="kt-slaite-margin-top__16" [param]='{text: "Available Sizes:", size: "content", color: "gray"}' ></kt-slaite-label>
	<div class="kt-slaite-size__wrapper">
		<div class="kt-slaite-product-details__size--wrapper">
			<kt-slaite-label *ngFor='let item of sizes' [param]='{text: item, size: "content", color: "primary"}' ></kt-slaite-label>
		</div>
		<a href="/catalogue/details">
			<kt-slaite-label [param]='{text: "See size guide", size: "content", color: "light-blue"}' ></kt-slaite-label>
		</a>
	</div>
</div>
