<div class="d-flex row browsing-wrapper ">
    <!-- Expanding Menu on the Left -->
    <div class="col-lg-4 slaite-product-menu--wrapper">
        <!-- {{dataSource.rootLevelNodes}} -->
        <mat-accordion>
            <mat-expansion-panel *ngFor="let tag of rootLevelNodes">
                <mat-expansion-panel-header>
                    {{tag}}
                </mat-expansion-panel-header>
                <mat-tree [dataSource]="dataSource[curind]" [treeControl]="treeControl">
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                      <button mat-icon-button disabled></button>
                      {{node.item}}
                    </mat-tree-node>
                    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                      <button mat-icon-button
                        [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </button>
                      {{node.item}}
                    </mat-tree-node>
                  </mat-tree>
            </mat-expansion-panel>
        </mat-accordion>
        <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <button mat-icon-button disabled></button>
              {{node.item}}
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button
                [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.item}}
            </mat-tree-node>
          </mat-tree> -->
    </div>
    <!-- Products Container with Search Box -->
    <div class="col-lg-8 d-flex flex-column">
		<div class="slaite-main-search-wrapper">
			<kt-slaite-label [param]='{text: "T-Shirts"}'></kt-slaite-label>
			<kt-search-default></kt-search-default>
		</div>
		<div class="kt-product-wrapper__default">
			<kt-product-category-view *ngFor='let product_catetory of category_list'  [imgSrc]='"assets/media/bg/bg-1.jpg"' [productCatetory]='product_catetory' ></kt-product-category-view>
			<kt-product-detail-view [imgSrc]='"assets/media/blog/blog1.jpg"'
			 label="Fruit Of The Loom Heavy Cotton T-Shirt"
			 startingPrice="$10.95"
			 availableSize="S-5XL"
			 serial="393OR"
			 [colors]="['red', 'blue', 'green', 'chartreuse']"
			 >
			 </kt-product-detail-view>
		</div>
    </div>
</div>
